/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    width: 100%;
    height: 100%;
    /*background: url('../assets/bck1.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#myCarousel {
	height:100%;
}

#myCarousel .carousel-inner {
	height:100%;
	position: fixed;
	z-index: -100;
}

#myCarousel .carousel-inner .item {
	width: 100%;
	height: 100%;
	height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

#myCarousel .carousel-inner .item-1 {
	background-image: url('../assets/bck1.jpg');
}

#myCarousel .carousel-inner .item-2 {
	background-image: url('../assets/bck2.jpg');
}

#myCarousel .carousel-inner .item-3 {
	background-image: url('../assets/bck3.jpg');
}

#myCarousel .carousel-inner .item-4 {
	background-image: url('../assets/bck4.jpg');
}



#myCarousel .in-carousel {
	position: absolute;
	top: auto;
	bottom: 15%;
	width: 70%;
	left: 15%;
	right: auto;
}

#myCarousel .in-carousel .col {
	/*border-radius: 10px;*/
	background-color: rgba(245, 245, 245, 0.90);
}

#myCarousel .in-carousel .col-ur {
	height: 10px;
	border-radius: 10px 10px 0px 0px;
}

#myCarousel .in-carousel .col-br {
	height: 10px;
	border-radius: 0px 0px 10px 10px;
}

#myCarousel a .fa {
	font-size: 3.5em;
}

html {
    width: 100%;
    height: 100%;
}

.intro {
    width: 100%;
    height: auto;
    padding: 100px 0;
    /* background: url(../img/intro-bg.jpg) no-repeat bottom center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    */
}

.intro .intro-body {
	position: absolute;
	min-width: 100%;
	bottom: 15%;
}

.intro p {
	padding: 15px;
}

.info .fa {
	font-size: 3.8em;
}


.trsp-60 {
	background-color: rgba(245, 245, 245, 0.6);
}

.trsp-80 {
	background-color: rgba(245, 245, 245, 0.8);
}

.trsp-90 {
	background-color: rgba(245, 245, 245, 0.90);
}

.intro-body .info {
	border-radius: 10px;
	background-color: rgba(245, 245, 245, 0.90);
}

footer .container {
	background-color: rgba(245, 245, 245, 0.90);
}

footer .row {
	margin: 15px;
}

footer .row .fa {
	font-size: 3em;
}

footer .row .fa-github {
	color: #000;
}

footer .row .fa-map-marker{
	color: #F00;
}


    .intro {
        height: 100%;
        padding: 0;
    }

@media(min-width:768px) {
/*
    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
   */
}

/*
@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
*/

.spacer {
	padding-bottom: 50px;
}

.wrapper {
	background-color: rgba(255,255,255,0.8);
	/*z-index: 100;*/
}

.wrapper-fill {
	min-height: 100%;
	padding-top: 50px;
}

.wrapper-inner {
	background-color: rgba(255,255,255,1);
	padding-top: 50px;
}

.wrapper-fill .wrapper-inner {
	min-height: 100%;
}

nav {
	color: red;
	background-color: transparent;
}

nav.affix-top {
	background-color: transparent;
	border: 0px;
	position: absolute; 
	margin-top: 60px;
}

nav.affix-top .container {
	padding-top: 40px;
}

nav li a {
	font-variant: small-caps;
	font-weight: bold;
	padding: 5px;
}

nav.affix-top a.navbar-brand {
	display: none;
}

nav.affix-top li a {
	color: white !important;
	padding: 15px;
}

nav.affix-top li.active a {
	background-color: transparent !important;
}

nav.affix-top li span {
	background: rgba(158,158,158,0.5);
}

